<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-custom" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Exec</name>
  <description>Apache Cordova Execute Shell Command Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,exec,runtime,process,shell,command</keywords>
  <js-module name="Custom" src="www/custom.js">
    <clobbers target="custom"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Custom">
        <param name="android-package" value="org.apache.cordova.plugin.Custom"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/org/apache/cordova/plugin/Custom.java" target-dir="src/org/apache/cordova/Custom" />
  </platform>
</plugin>
